.container {
    background-color: aliceblue;
    text-align: center;
    width: 60%;
    height: 400px;
    margin: 0 0 0 290px;
    padding: 5px;
    font-size: 20px;
    font-family: 'B612', sans-serif;
}

h1 {
    font-size: 70px;
    color: goldenrod;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

#quiz,
#answers,
#result {
    display: none;
    padding: 10px;
    margin: 0px;
}
#timer{
    margin: 15px 5px ;
}

.answer{
    margin:15px 5px ;
}

.answer:hover {
    color: gold;
}

#questions{
    font-size: 30px;
}