.container {
    background-color: rgb(255, 246, 230);
    text-align: center;
    width: 60%;
    height: 425px;
    margin: 0 0 0 290px;
    padding: 5px;
    font-size: 20px;
    font-family: 'B612', sans-serif;
}

h1 {
    font-size: 70px;
    color: goldenrod;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

#start {
    background-color: none;
    color: goldenrod;
    width: 100px;
    height: 60px;
    margin: 100px 0 0 0;
    font-size: 24px;
    font-family: 'B612', sans-serif;
}

#quiz,
#answers,
#result {
    display: none;
    padding: 10px;
    margin: 0px;
}

#timer {
    margin: 15px 5px;
}

#gif{
    margin: 15px 5px;
}

.answer {
    margin: 15px 5px;
    
}

#start-over:hover,
.answer:hover {
    color: rgb(255, 215, 0);
}

#final-message,
#start-over,
#questions {
    font-size: 26px;
    margin: 10px 5px 40px 5px;
}

#final-message,
#correct,
#incorrect,
#unanswered,
#start-over {
    margin: 15px 5px;
}